* {
    font-family: 'Roboto', sans-serif;
}

p {
    margin: 0;
}

.countItems {
    position: absolute;
    font-size: 1.4rem;
    top: 20px;
    padding-left: 5px;
    font-weight: 600;
}

.shoppingcard {
    position: relative;
    margin-right: 10px;
}

.navbar {
    padding: 1rem 1.5rem;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

img {
    width: 50px;
}

.confirm {
    margin-bottom: 40px;
    margin-top: 1rem !important;
}

.container {
    box-sizing: border-box;
}

.container_photos {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    flex-wrap: wrap;
}

.container_photos img {
    height: 120px;
    width: auto;
}

.column {
    text-align: center;
}

.head {
    border-bottom: 1px solid lightgray;
    padding-bottom: 1rem;
}

.range {
    display: flex;
    justify-content: flex-start;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.column * {
    display: block !important;
    margin-left: auto;
    margin-right: auto;
}

.column i {
    display: block !important;
    margin-left: auto;
    margin-right: auto;
    width: 20px;
}

.summary {
    padding: 1rem 0rem;
}

.summary h2 {
    text-align: right;
    position: static !important;
    width: 100%;
}

.summary h5 {
    text-align: right;
    position: static !important;
    width: 100%;
}

.window {
    position: absolute;
    z-index: 5;
    width: 100%;
    max-width: 800px;
    visibility: hidden;
    background: white;
    border: 1px solid black;
    border-radius: 10px;
    ;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 3rem 2rem;
}

.dark {
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.7;
    position: absolute;
    visibility: hidden;
    z-index: 4;
}

.window label {
    margin-top: 25px;
    margin-bottom: 5px;
    width: 120px;
}

::placeholder {
    color: lightgray;
}

.window-close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.window input {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border: 1px solid lightgray;
    padding: 0.2rem 1rem;
}

.window input:last-of-type {
    margin-bottom: 35px;
}

.window h5 {
    margin-bottom: 35px;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: right;
}

.error {
    color: red;
    display: inline;
    margin-left: 20px;
}

.button {
    padding-left: 2rem;
    padding-right: 2rem;
    /* margin-top: 3rem; */
}

.product {
    max-width: 300px;
    width: 100%;
    position: relative;
    height: 250px;
    margin-bottom: 10rem;
    padding: 1rem 4.5rem;
    text-transform: uppercase;
}

.product h3 {
    font-size: 24px;
    text-align: center;
}

.product img,
h5 {
    position: absolute;
}

.product img {
    width: 120px;
    height: auto;
}

.product h5 {
    text-align: center;
}

.product button {
    position: absolute;
    bottom: -140px;
}

/* @media screen and (min-width: 1200px) {
    .product {
        padding: 1rem 2rem;
    }
} */

@media screen and (max-width: 800px) {
    .head {
        visibility: hidden;
    }

    .image img {
        width: 75%;
        height: auto;
    }

    .image {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 600px) {
    .product {
        width: 100%;
        max-width: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
        margin-bottom: 50px;
        padding-bottom: 40px;
        height: auto;
    }

    .product img {
        max-width: 100%;
        height: auto;
        position: static;
    }

    .product h3 {
        margin-bottom: 30px;
        position: static;
        text-align: center;
    }

    .product h5 {
        margin-top: 20px;
        position: static;
    }

    .product button {
        bottom: -20px;
    }
}

@media screen and (max-width: 320px) {
    .product {
        width: 100%;
        max-width: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.set {
    width: 50%;
}

.set .column {
    width: 100% !important;
}

.table {
    box-sizing: border-box;
}

.set {
    display: flex;
    flex-direction: column;
}

.button-panel {
    display: flex;
    justify-content: flex-end;
}

.button-panel button {
    margin-right: 10px;
}